mat-grid-list {
  margin: 15px;
}
table {
  width: 100%;
  margin: 5px auto;
}

.example-header-image {
  background-image: url('http://img1.wikia.nocookie.net/__cb20120405101656/maditsmadfunny/images/4/4e/Twilight_Sparkle.png');
  background-size: cover;
}

.page-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.content-center {
  margin-left: auto;
  margin-right: auto;
}

.content-align-items {
  margin: 40px auto;
  max-width: 600px;
}

mat-card-header {
  margin-bottom: 20px;
}

mat-card-content {
  text-align: center;
}

.card {
  max-width: 400px;
  padding-bottom: 0;
}

.mat-card-actions {
//  padding-bottom: 0;
}

.text-style {
  width: 70%;
}

.flex-buttons-style {
  flex: 1 1 auto;
}

.radio-group {
  width: 100%;
}

.radio-button {
  width: 33%;
}

.date-picker-style {
  width: 70%;
  margin-top: 20px;
}
