.card {
  max-width: 400px;
  padding-bottom: 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.page-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.content-uitgave {
  margin-left: auto;
  margin-right: auto;
}

mat-card-content {
  text-align: center;
}
.text-style {
  width: 70%;
  margin-top: 20px;
}
.flex-style {
  margin-left: 20%;
}

.flex-buttons-style {
  flex: 1 1 auto;
}
